name: 'Mermaid Docker Image'

on:
  push:
    branches: [develop]
    tags: [v*]

env:
  IMAGE_NAME: mermaind

jobs:
  push:
    # This job runs after the code-quality checks pass
    runs-on: ubuntu-latest
    if: github.event_name == 'push' # This job is conditional on push events

    steps:
      - uses: actions/checkout@v3

      # Building the Docker image from the Dockerfile
      - name: Build Docker image
        run: docker build --file Dockerfile --tag $IMAGE_NAME .

      # Logging into Docker registry using GitHub secrets for authentication
      - name: Log into Docker registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      # Tagging and pushing the image to the registry
      - name: Tag and push Docker images
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/$IMAGE_NAME

          # Normalize the Docker image ID to lowercase for compatibility
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Extracting version from the git tag or branch name
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Removing the 'v' prefix from version tags
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Using 'latest' tag for the main branch
          [ "$VERSION" == "main" ] && VERSION=latest

          # Tagging and pushing the Docker image
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

          echo "Pushed $IMAGE_ID:$VERSION successfully"
